body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 0;
  margin: 0;
  background-color: #f9fbe7;
}

.App {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  padding: 15px 0;
  background-color: #f0f4c3;
}

.header h2 {
  text-transform: uppercase;
  font-weight: 550;
  margin: 0;
  padding: 0;
  color: black;
}

.navigation {
  width: 100%;
  padding: 15px 0;
  margin: 0;
  background-color: #f0f4c3;
}

.main {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  background-color: #f0f4c3;
  margin: 0;
  padding: 10px 0;
}

#logged-div {
  width: 500px;
  text-align: right;
  font-style: italic;
  font-size: 12px;
  margin: 0 auto;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.nav-bar {
  opacity: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-left: 10px;
}

@media (min-width: 0px) and (max-width: 768px) {
  .nav-bar {
    opacity: 1;
    position: absolute;
    left: 10px;
    top: 50px;
  }

  #nav-menu {
    opacity: 0;
  }

  #temp-now-div {
    opacity: 0;
  }

  #last-data-div {
    opacity: 0;
  }

}

#hamburger-menu {
  display: none;
}

#nav-menu {
  margin: 0;
  padding: 0;
}

#mobile-menu {
  margin: 0;
  padding: 0;
}

#mobile-menu ul,
#nav-menu ul {
  list-style: none;
  text-align: center;
  margin: 0;
}

#mobile-menu ul li,
#nav-menu ul li {
  display: inline-block;
}

#mobile-menu ul li span,
#nav-menu ul li span {
  display: block;
  text-decoration: none;
  color: black;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 20px;
}

#nav-menu ul li span,
#nav-menu ul li span:after,
#nav-menu ul li span:before {
  transition: all .5s;
}

#nav-menu ul li span {
  position: relative;
}

#nav-menu ul li span:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: black;
  height: 1px;
}

#nav-menu ul li span:hover:after {
  width: 100%;
}

#nav-menu ul li span:hover {
  color: black;
}

#temp-now-div {
  position: absolute;
  left: 10px;
  top: 10px;
  font-size: 1rem;
}

#temp-now {
  font-weight: bold;
}

#last-data-div {
  position: absolute;
  left: 10px;
  top: 40px;
  margin: 0 auto;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 20px 20px;
  font-size: 1rem;
}

.info-item {
  align-content: center;
}

.datepicker {
  padding: 2px 5px;
  border: 1px solid steelblue;
  border-radius: 3px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-top: 0px;
}

#login-div h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

#settings-div h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-weight: 500;
}

#login-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 130px 130px;
  grid-template-rows: 20px 20px;
  grid-gap: 5px;
  justify-content: center;
  justify-items: start;
}

input {
  width: 130px;
}

#login-button {
  margin-top: 10px;
}

#freq-input {
  width: 100px;
  margin-right: 10px;
}

